@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --cor-primaria: #e44938;
    --red: #e97568;
    --orange: #f39c12;
    --white: #fff;
    --black: #2c3e50;
    --light-color: #888;
    --light-bg: #eee;
    --border: .1rem solid rgba(0,0,0,.2);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

*::selection{
    background-color: var(--cor-primaria);
    color: #fff;
}
*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--cor-primaria);
}

html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background-color: var(--light-bg);
    padding-left: 30rem;
    transition: .2s linear;
}
main{
    min-height: 100vh;
}
body.active{
    padding-left: 0;
}
body.dark{
    --white: #222;
    --black: #fff;
    --light-color: #aaa;
    --light-bg: #333;
    --border: .1rem solid rgba(255,255,255,.2);
}
section{
    padding: 2rem;
    
    margin: 0 auto;
    
} 
.titulo{
    padding-bottom: 1.8rem;
    border-bottom: var(--border);
    font-size: 2.5rem;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 2rem;
    
}
.text{
    font-size: 1.6rem;
    color: var(--black);
}

.text-small{
    font-size: 1.3rem;
    color: var(--black);
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo{
    width: 7rem;
}

/* botões */
.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    border-radius: .5rem;
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    color: var(--white);
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    font-weight: 550;
}

.btn,
.option-btn,
.delete-btn{
    display: block;
    width: 100%;
}
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    display: inline-block;
}
.btn,
.inline-btn{
    background-color: var(--cor-primaria);
}
.option-btn,
.inline-option-btn{
    background-color: var(--orange);
}
.delete-btn,
.inline-delete-btn{
    background-color: var(--red);
}
.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover{
    background-color: var(--black);
    color: var(--white);
}
.flex-btn{
    display: flex;
    gap: 2rem;
}
/* fim botão */

/* começo do header */
.header{
    background-color: var(--white);
    border-bottom: var(--border);
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
.header .flex{
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .busca-form{
    width: 50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    background-color: var(--light-bg);
}
.header .flex .busca-form input{
    width: 100%;
    background:none;
    font-size: 1.8rem;
    color: var(--black);
}
.header .flex .busca-form button{
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}
.header .flex .busca-form button:hover{
    color: var(--cor-primaria);
}
.header .flex .icons{
    display: flex;
    margin-bottom: 1rem;
}

.header .flex .icons .icon div{
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 0.3rem;
    color: var(--black);
    border-radius: .5rem;
    height: 4.5rem;
    cursor: pointer;
    width: 4.5rem;
    line-height: 4.4rem;
    background-color: var(--light-bg);
    text-align: center;
}

.header .flex .icons .icon div:hover{
    background-color: var(--black);
    color: var(--white);
}
#search-btn{
    display: none;
}


/* começo da sidebar */
.sidebar{
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 30rem;
    background-color: var(--white);
    border-right: var(--border);
    transition: .2s linear;
}
.sidebar .perfil{
    padding: 3rem;
    text-align: center;
}

.sidebar .close-sidebar{
    text-align: right;
    padding: 2rem;
    padding-bottom: 0;
    display: none;
}
.sidebar .close-sidebar i{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.4rem;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--red);
    text-align: center;
    border-radius: .5rem;
}
.sidebar .close-sidebar i:hover{
    background-color: var(--black);
}
.sidebar .perfil img{
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}
.sidebar .perfil h3{
    font-size: 2rem;
    color: var(--black);

}
.sidebar .perfil span{
    color: var(--light-color);
    font-size: 1.6rem;
}

.sidebar .navbar a{
    display: block;
    padding: 2rem;
    margin: .5rem 0;
    font-size: 1.8rem;
}
.sidebar .navbar a i{
    color: var(--cor-primaria);
    margin-right: 1rem;
    transition: .2s linear;
}

.sidebar .navbar a span{
    color: var(--light-color);
}
.sidebar .navbar a:hover{
    background-color: var(--light-bg);
}
.sidebar .navbar a:hover i{
    margin-right: 2.5rem;
}


.sidebar.active{
    left: -31rem;
}
/* fim da sidebar */



/* começo navbar */
/* .navbar{
    background-color: var(--white);
    border-bottom: var(--border);
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1500;
}
.navbar .flex{
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.navbar .flex a{
    font-size: 1.9rem;
    color: var(--black);
    font-weight: bolder;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid var(--white);
    
}
.navbar .flex a:hover, .navbar .flex a.active{
    color: var(--cor-primaria);
    border-bottom: 2px solid var(--cor-primaria);
} */
/* fim navbar */
/* fim do header */

/* começo da home */

.home .principal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .principal .home-img img{
    width: 100%;
}
.home .principal .home-slogan{
    padding: 1rem 3rem 3rem 3rem;
    
}
.home .principal .home-slogan p{
    font-size: 2.7rem;
    color: var(--black);
    font-weight: bold;
}
.materia .view-more{      
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.view-more{      
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.credito-img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    text-align: center;
}

.home .principal .contact-img img{
    width: 60rem;
}

.home .principal .contact{
    margin-top: 4rem;
    margin-left: 2rem;
    background-color: var(--white);
    width: 90rem;
    max-height: 60rem;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2.5rem 4.5rem 2.5rem;
    border-radius: 2rem;
    
}
.home .principal .contact h1{
    font-size: 2.5rem;
    text-align: center;
    color: var(--black);
    border-bottom: var(--border);
    margin-bottom: 2.5rem;
}
.home .principal .contact .contact-form{
    font-size: 1.8rem;
    color: var(--black);
}

.home .principal .contact .contact-form input{
    width: 100%;
    height: 4rem;
    font-size: 1.8rem;
    background-color: var(--light-bg);
    color: var(--black);
    border-radius: .5rem;
    border-width: 0px 0px 2px 0px;
    padding-left: 1rem;
    
}

.home .principal .contact .contact-form textarea{
    width: 100%;
    height: 15rem;
    font-size: 1.8rem;
    background-color: var(--light-bg);
    color: var(--black);
    border-radius: .5rem;
    border-width: 0px 0px 2px 0px;
    padding-left: 1rem;
    
}

/* fim da home */


/* sobre */
.card-about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 4rem;
  }
  
  .card {
    width: 30%;
    background-color: var(--white);
    height: 23rem;
    border-radius: .5rem;
    padding: 1rem;
  }
  
  .card-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--black);
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .card-text {
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--black);
    padding: 1rem;
    text-align: center;
  }



/* pagina materia */
 .materia .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
 }
 
 .materia .box-container .box{
    border-radius: .5rem;
    background-color: var(--white);
    padding: 2rem;
 }
 
 
 .materia .box-container .box .thumb{
    position: relative;
 }
 
 .materia .box-container .box .thumb span{
    position: absolute;
    top:1rem; left: 1rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    background-color: rgba(0,0,0,.3);
    color: #fff;
    font-size: 1.5rem;
 }
 
 .materia .box-container .box .thumb img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: .5rem;
 }
 
 .materia .box-container .box .title{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
    padding-top: 1rem;
 }


/* chat materia começo */


.chatbox{
    display: flex;
    text-align: center;
    justify-content: flex-start;
}
.chatbox .chat{
    background-color: var(--light-bg);
    width: 100%;
    padding: 0;
    
}

.chatbox .chat .chat-header{
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border);
    position: sticky;
    top: 10rem;
}

.chatbox .chat .chat-header .chat-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.65rem;
}
.chatbox .chat .chat-header .chat-perfil img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
}
.chatbox .chat .chat-header .chat-perfil .chevron{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.chatbox .chat .chat-header .chat-perfil .chevron i{
    color: var(--black);
    font-size: 2.5rem;
    padding: 1rem;
}

.chatbox .chat .chat-header .chat-perfil p{
    font-size: 1.8rem;
    padding-left: 1rem;
    color: var(--black);
    cursor: pointer;
}

.chatbox .chat .chat-header .chat-options{
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatbox .chat .chat-header .chat-options a{
    font-size: 1.7rem;
    color: var(--black);
    padding: 1rem;
}
.chatbox .chat .chat-header .chat-options a:hover{
    color: var(--cor-primaria);
}

.chatbox .chat .chat-body{
    background-color: var(--light-bg);
    display: flex;
    flex-direction: column;
    
    min-height: 80%;
    padding-left: 3rem;
    padding-right: 3rem;
    
}
.chatbox .chat .chat-body img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.chatbox .chat .chat-body .message{
    
    display: flex;
    padding: 2rem;
}
.chatbox .chat .chat-body .message .message-chat{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.chatbox .chat .chat-body .message .message-chat .name{
    margin: 0rem 0rem 0.5rem 1rem;
    font-size: 1.4rem;
    color: var(--black);
}

.chatbox .chat .chat-body .message .img{
    align-self: flex-start;
    margin: 1rem 0 1rem 1rem;
}

.chatbox .chat .chat-body .message .message-text{
    background-color: var(--white);
    display: flex;
    width: auto;
    max-width: 70rem;
    min-width: 15rem;
    height: auto;
    max-height: 30rem;
    text-align: justify;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem 1rem 1rem;
    border-radius: 1rem;
    margin-left: 1rem;
}
.chatbox .chat .chat-body .message .message-text p{
    font-size: 1.5rem;
    color: var(--black);
    padding: 0.5rem 0rem 1rem 0rem;
}
.chatbox .chat .chat-body .message .message-text .timestamp {
    margin-top: auto;
    margin-left: auto;
    color: var(--black);
  }

  /* usuario principal */
.chatbox .chat .chat-body .message-user{ 
    display: flex;
    padding: 2rem;
    justify-content: flex-end;
}
.chatbox .chat .chat-body .message-user .img{
    align-self: flex-end;
    margin: 1rem 0 1rem 1rem;
}

.chatbox .chat .chat-body .message-user .message-text-user{
    background-color: var(--cor-primaria);
    display: flex;
    width: auto;
    max-width: 70rem;
    height: auto;
    max-height: 10rem;
    text-align: justify;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 1rem;
}
.chatbox .chat .chat-body .message-user .message-text-user p{
    font-size: 1.2rem;
    color: var(--black);
}
.chatbox .chat .chat-body .message-user .message-text-user .timestamp {
    margin-top: auto;
    margin-left: auto;
    color: var(--black);
  }


  /* fim usuario principal */

.chatbox .chat-footer{
    border-top: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: sticky;
    bottom: 0;
    background-color: var(--light-bg);
}
.chatbox .chat-footer .message-box {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.chatbox .chat-footer .message-box .message{
    display: flex;
    width: 90rem;
    border-radius: 1rem;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    background-color: var(--white);
}

.chatbox .chat-footer .message-box .message input{
    width: 100%;
    background:none;
    font-size: 1.8rem;
    color: var(--black);
}
.chatbox .chat-footer .message-box .message button{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.chatbox .chat-footer .message-box .message button i{
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
}

.chatbox .chat-footer .message-box .message button i:hover{
    font-size: 2rem;
    color: var(--cor-primaria);
}

.chatbox .chat-footer .message-box .add-button:hover{
    background-color: var(--white);
    
}
.chatbox .chat-footer .message-box .add-button:hover i{
    color: var(--black);
}
/* chat materia fim */
/* enquete  */

.chatbox .chat .chat-body .message .message-chat .enquete{
    background-color: var(--light-bg);
    padding: 2rem;
    width: 30rem;
    height: 40rem;
    border-radius: 1rem;
    margin: 1rem;
}
.chatbox .chat .chat-body .message .message-chat .enquete label{
    font-size: 1.4rem;
    padding: 1rem;
    color: var(--black);
}
.chatbox .chat .chat-body .message .message-chat .enquete .votar{
    background-color: var(--cor-primaria);
    border-radius: .5rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: var(--white);
    margin-top: 2rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
}

.chatbox .chat .chat-body .message .message-chat .enquete .votar:hover{
    background-color: var(--black);
}
/* enquete fim */

.chatbox .chat .chat-body .message .message-chat .message-atividade{
    background-color: var(--light-bg);
    padding: 0.5rem 0rem 1rem 1rem;
    width: 25rem;
    height: 100%;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.chatbox .chat .chat-body .message .message-chat .message-atividade p{
    font-size: 1.6rem;
}
.chatbox .chat .chat-body .message .message-chat .message-atividade .atividade-btn{
    background-color: var(--cor-primaria);
    border-radius: .5rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: var(--white);
    text-transform: capitalize;
    cursor: pointer;
    
    margin-right: 1rem;
    font-weight: bolder;
}

.chatbox .chat .chat-body .message .message-chat .message-atividade .atividade-btn:hover{
    background-color: var(--black);
}

/* fim da materia */

/* começo do forum */

.forum-principal{
    margin: 2rem;
    padding: 2rem;
}

.forum-principal .subforum{
    margin-top: 2rem;
}

.forum-principal .subforum .subforum-title{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: capitalize;
}

.forum-principal .subforum .subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.forum-principal .subforum .subforum-row .subforum-column{
    padding: 1rem;
    margin:0.4rem;
    border-radius: 0.5rem;
    background-color: var(--white);
}
.forum-principal .subforum .subforum-row .subforum-column h4 a{
    font-size: 1.6rem;
    color: var(--cor-primaria);
}
.forum-principal .subforum .subforum-row .subforum-column a{
    font-size: 1.2rem;
    color: var(--cor-primaria);
}
.forum-principal .subforum .subforum-row .subforum-column .text a{
    font-size: 1.6rem;
    color: var(--black);
    text-decoration: none;
}
.subforum-icon i{
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}











.forum{
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    
}
.forum .painel{
    background-color: var(--white);
    width: 100%;
    max-height: 50rem;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2.5rem 4.5rem 2.5rem;
    
    
    border-radius: 2rem;
    
}
.forum .painel .painel-box{
    font-size: 1.8rem;
    color: var(--black);
}

.forum .painel .painel-box input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 4rem;
    font-size: 1.8rem;
    background-color: var(--light-bg);
    color: var(--black);
    border-radius: .5rem;
    border-width: 0px 0px 2px 0px;
}

.forum .painel .painel-box select{
    background-color: transparent;
    color: var(--black);
}
.forum .painel .painel-box select option{
    background-color: var(--white);
}
.forum .painel .painel-box textarea{
    margin-top: 1rem;
    width: 100%;
    height: 15rem;
    font-size: 1.8rem;
    background-color: var(--light-bg);
    color: var(--black);
    border-radius: .5rem;
    border-width: 0px 0px 2px 0px;
}



.forum-main-answers{
    flex-direction: column;
    padding: 2rem;
    
}
.forum-main-answers .forum-flex{
    margin: 0 auto;
    width: 90%;
}
.forum-main-answers .forum-question{
    display: flex;
    max-height: 30rem;
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--white);

}
.forum-main-answers .forum-question .img img{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    object-fit: contain;
    margin: 1.5rem;
}
.forum-main-answers .forum-question .question{
    padding: 1rem 0 0 0;
    width: 100%;
}
.forum-main-answers .forum-question .question .name{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: var(--cor-primaria);
}
.forum-main-answers .forum-question .question .assunto{
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    color: var(--black);
}
.forum-main-answers .forum-question .question .pergunta{
    font-size: 1.5rem;
    color: var(--black);
    margin-bottom: 1.5rem;
}

.forum-main-answers .user-answers{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}
.forum-main-answers .user-answers textarea{
    background-color: var(--light-bg);
    width: 100%;
    color: var(--black);
    border-radius: 0.5rem;
    resize: none;
    padding: 0.5rem;
}

.forum-btn button{
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 550;
}


.forum-main-answers .forum-answers{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.forum-main-answers .forum-answers .forum-user{
    display: flex;
    margin-left: 2rem;
    width: 95%;
    max-height: 30rem;
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--white);
    margin-top: 2rem;
}
.forum-main-answers .forum-answers .img img{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    object-fit: contain;
    margin: 1.5rem;
}
.forum-main-answers .forum-answers .answers{
    padding: 1rem 2rem 0 0;
    width: 100%;
}
.forum-main-answers .forum-answers .answers .name{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: var(--cor-primaria);
}
.forum-main-answers .forum-answers .answers .assunto{
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    color: var(--black);
}

.forum-btn{
    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    
}
.option{
    position: relative;
    display: flex;
    align-items: start;
    top: 0;
    left: 0;
    
}
.options-box{
    border: var(--border);
    background-color: var(--white);
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
}
.options-box ul{
    list-style: none;
}
.option .options-box ul li{
    border-bottom: var(--border);
    padding: 1rem;
    cursor: pointer;
}
.option .options-box ul li:hover{
    background-color: var(--light-bg);
}
.option .options-box ul li a{
    text-decoration: none;
    color: var(--black);
}


.option button{
    background: none;
    color: var(--black);
}

.like{
    bottom: 0;
    left: 0;
    
}
.like button{
    display: flex;
    border: none;
    background: none;
    color: var(--black);
}

  
/* fim do forum */

/* aqui é o footer */
/* .footer{
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 1.5rem 1.5rem;
    background-color: var(--white);
    min-height: 5rem;
}
.footer .boxs{
    width: 35rem;
    min-height: 1.5rem;
    padding: 0.5rem;
}
.footer .boxs h2{
    padding-bottom: 1.8rem;
    font-size: 2.5rem;
    color: var(--black);
    text-transform: capitalize;
    
}
.footer .boxs ul li{
    list-style: none;
    padding: .5rem .5rem;
}
.footer .boxs ul li a,p{
    color: var(--black);
    font-size: 1.2rem;
}
.footer .boxs ul li a:hover{
    color: var(--cor-primaria);
} */

.user-profile .card-content{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
}

.user-profile .info{
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
 }
 
.user-profile .info .user{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.user-profile .info .user .user-pfp{
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
    flex: 1 1 25rem;
}
.user-profile .info .user .user-pfp img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}


.user-profile .info .user .user-rank{
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 2rem;
    margin-bottom: 1rem;
    flex: 1 1 25rem;
}
.user-profile .info .user .user-rank .flex{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
.user-profile .info .user .user-rank .flex-rank{
    width: 100%;
    height: 15rem;
    overflow-y: scroll;
    border: var(--border);
    border-radius: 1rem;
}
.user-profile .info .user .user-rank .flex-rank .ranking{
    height: 100%;
    text-align: center;
}
.user-profile .info .user .user-rank .flex-rank .ranking .ranking-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: var(--border);
}
.user-profile .info .user .user-rank .flex-rank .ranking .ranking-header p{
    color: var(--black);
}
.user-profile .info .user .user-rank .flex-rank .ranking div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
}
.user-profile .info .user .user-rank .flex-rank .ranking .ranking-user{
    background-color: var(--white);
    
}
.user-profile .info .user .user-rank .flex-rank .ranking .ranking-user p{
    color: var(--black);
}
.user-profile .info .user .user-rank .flex-rank .ranking div p{
    text-align: center;
    width: 100%;
}
.user-profile .info .user .user-rank .flex i{
    font-size:2rem;
    color: var(--black);
    background-color: var(--white);
    text-align: center;
    border-radius: .5rem;
    height: 5rem;
    width: 5rem;
    line-height: 4.9rem;
}
 
.user-profile .info .user .user-rank .flex span{
    font-size: 2.5rem;
    color: var(--black);
}
 
.user-profile .info .user .user-rank .flex p{
    color: var(--light-color);
    font-size: 1.7rem;
}





.user-profile .info .user h3{
    font-size: 2rem;
    color: var(--black);
}
.user-profile .info .user p{
    font-size: 1.7rem;
    color: var(--light-color);
    padding: .3rem 0;
}
.user-profile .info .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.user-profile .info .box-container .box{
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 2rem;
    flex: 1 1 25rem;
}
 
.user-profile .info .box-container .box .flex{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
 
.user-profile .info .box-container .box .flex i{
    font-size:2rem;
    color: var(--black);
    background-color: var(--white);
    text-align: center;
    border-radius: .5rem;
    height: 5rem;
    width: 5rem;
    line-height: 4.9rem;
}
 
.user-profile .info .box-container .box .flex span{
    font-size: 2.5rem;
    color: var(--black);
}
 
.user-profile .info .box-container .box .flex p{
    color: var(--light-color);
    font-size: 1.7rem;
}


/* comentarios */

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown button{
    padding: 1rem;
    margin: .5rem;
}
  
.show {
    display: block;
}
  
.content-section {
    display: none;
}
.comments-pfp{
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
}

.comments-pfp .subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
    
    
}

.comments-pfp .subforum-row .subforum-column{
    padding: 1rem;
    margin:0.4rem;
    border-radius: 0.5rem;
    background-color: var(--white);
}
.comments-pfp .subforum-row .subforum-column h4 a{
    font-size: 1.6rem;
    color: var(--cor-primaria);
}
.comments-pfp .subforum-row .subforum-column a{
    font-size: 1.2rem;
    color: var(--cor-primaria);
}
.comments-pfp .subforum-row .subforum-column .text a{
    font-size: 1.6rem;
    color: var(--black);
    text-decoration: none;
}
.subforum-icon i{
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments-pfp .forum-user{
    display: flex;
    margin: 1rem;
    padding: 0.5rem 1rem 1rem 0;
    border-radius: 0.5rem;
    gap: 1rem;
    background-color: var(--white);
}
.comments-pfp .forum-user .img img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: contain;
    margin: 1rem;
}
.comments-pfp .forum-user .answers{
    padding: .5rem 1rem 0 0;
    width: 100%;
}
.comments-pfp .forum-user  .answers .name{
    
    font-size: 1.5rem;
    color: var(--cor-primaria);
}
.comments-pfp .forum-user .answers .assunto{
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    color: var(--black);
}



/* likes */
.liked-pfp{
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: .5rem;
    background-color: var(--light-bg);
}

.liked-pfp .forum-user{
    display: flex;
    margin: 1rem;
    padding: 0.5rem 1rem 1rem 0;
    border-radius: 0.5rem;
    gap: 1rem;
    background-color: var(--white);
}
.liked-pfp .forum-user .img img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: contain;
    margin: 1rem;
}
.liked-pfp .forum-user .answers{
    padding: .5rem 1rem 0 0;
    width: 100%;
}
.liked-pfp .forum-user  .answers .name{
    
    font-size: 1.5rem;
    color: var(--cor-primaria);
}
.liked-pfp .forum-user .answers .assunto{
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    color: var(--black);
}

.atividade form{
   padding-bottom: 2rem;
}
.atividade form label{
    font-size: 1.5rem;
    color: var(--black);
}
.atividade form select{
    background-color: transparent;
    color: var(--black);
}
.atividade form select option{
    background-color: var(--white);
}
.atividade .ativ-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    justify-content: center;
    align-items: flex-start;
}
.atividade .ativ-container .ativ-box{
    display: flex;
    border-radius: .5rem;
    background-color: var(--white);
}
.atividade .ativ-container .ativ-box .ativ-icon{
    padding: 1rem;
}
.atividade .ativ-container .ativ-box .ativ-icon i{
    font-size: 6rem;
}
.atividade .ativ-container .ativ-box .ativ-content{
    position: relative;
    width: 100%;
}
.atividade .ativ-container .ativ-box .ativ-content h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 1.5rem 0 1.5rem 1rem;
    color: var(--black);
    font-weight: 500;
}

.atividade .ativ-container .ativ-box .ativ-content span{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.2rem;
    color: var(--light-color);
    padding: 0.5rem;
    
  }
.footer{
    background-color: var(--white);
    border-top: var(--border);
    height: 7rem;
    position: sticky;
    bottom: 0; left: 0; right: 0;
    text-align: center;
    font-size: 1.5rem;
    padding:2rem 2rem;
    color:var(--black);
    margin-top: auto;
    z-index: 500;
    /* padding-bottom: 9.5rem; */
 }

 .footer span{
    color:var(--cor-primaria);
 }
 
.footer a{
    color: var(--cor-primaria);
}





/* media queries  */  
@media (max-width:1200px){  
    
    body{
        padding-left: 0;
    }
    .sidebar{
        transition: .2s linear;
        left: -30rem;
    }
    .sidebar.active{
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
    }
    .sidebar .close-sidebar{
        display: block;
        padding: 0.1rem;
    }
    .sidebar .perfil img{
        height: 7.5rem;
        width: 7.5rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: .5rem;
    }
    /* .forum-main-answers .forum-answers .forum-user{
        display: flex;
        margin-left: 2rem;
        width: 105rem;
        max-height: 30rem;
        border-radius: 0.5rem;
        padding: 1rem;
        gap: 1rem;
        background-color: var(--white);
        margin-top: 2rem;
    } */

}  
@media (max-width:991px){  
    html{  
        font-size: 55%;  
    }
    .home .principal .home-img img{
        display: none;
    }
    .forum-principal .subforum .subforum-row{
        display: grid;
        grid-template-columns: 15% 50% 15% 20%;
    }
    .forum{
        margin: 0 auto;
        width: 80%;
        padding: 10px;
    }
    .home .principal .contact-img img{
        display: none;
    }
    .home .principal .contact{
        margin-top: 4rem;
        margin-left: 2rem;
        background-color: var(--white);
        width: 80%;
        max-height: 60rem;
        display: flex;
        flex-direction: column;
        padding: 2.5rem 2.5rem 4.5rem 2.5rem;
        border-radius: 2rem;
        
    }
    .card {
        width: 30%;
        background-color: var(--white);
        height: 28rem;
        border-radius: .5rem;
        padding: 1rem;
      }
      
/* .forum-main-answers .forum-answers .forum-user{
    display: flex;
    margin-left: 2rem;
    width: 95rem;
    max-height: 30rem;
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--white);
    margin-top: 2rem;
} */
     
  
}  
@media (max-width:768px){  
    #search-btn{
        display: inline-block;
    }
    .header .flex .busca-form{
        position: absolute;
        top:99%; left: 0; right: 0;
        width: auto;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .1s linear;
    }
    .header .flex .busca-form.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .chatbox .chat-footer .message-box .message{
        width: 60rem;
    }
    .forum-principal .subforum .subforum-row{
        display: grid;
        grid-template-columns: 15% 50% 15% 20%;
    }
    .forum{
        margin: 0 auto;
        width: 90%;
        padding: 10px;
    }
    .card-about {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 4rem;
      }
    .card {
        width: 30rem;
        background-color: var(--white);
        height: 24rem;
        border-radius: .5rem;
        padding: 1rem;
        margin: 2rem;
      }
      /* .forum-main-answers .forum-answers .forum-user{
        display: flex;
        margin-left: 2rem;
        width: 95%;
        max-height: 30rem;
        border-radius: 0.5rem;
        padding: 1rem;
        gap: 1rem;
        background-color: var(--white);
        margin-top: 2rem;
    } */
    
    
}  
@media (max-width:510px){  
    html{
        font-size: 50%;  
    }
    .flex-btn{
        flex-flow: column;
        gap: 0;
    }
    .chatbox .chat-footer .message-box .message{
        width: 50rem;
    }
    .forum-principal .subforum .subforum-row{
        display: grid;
        grid-template-columns: 50% 28% 22%;
    }
    .forum-principal .subforum .subforum-row .subforum-column span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .subforum-icon{
        display: none;
    }
    .forum{
        margin: 0 auto;
        width: 100%;
        padding: 10px;
    }
    /* .forum-main-answers .forum-answers .forum-user{
        display: flex;
        margin-left: 2rem;
        width: 52rem;
        max-height: 30rem;
        border-radius: 0.5rem;
        padding: 1rem;
        gap: 1rem;
        background-color: var(--white);
        margin-top: 2rem;
    } */
}  